.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
}

.header__title{
  line-height: 96px;
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  align-self: flex-start;
}

.header__subtitle{
  position: absolute;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-left: 64px;
  bottom: 30px;
  align-self: flex-start;
}

.header__main-ilustration{
  position: absolute;
  width: 765px;
  height: 608px;
  z-index: 1;
  margin-right: 0;
  bottom: 0;
  align-self: flex-end;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-columns {
  width: 80%;
  padding: 100px 0 0;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph{
  min-height: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type{
  padding-bottom: 30px;
}

.two-columns__span-accent{
  font-weight: bold;
}

.digits{
  display: flex;
  margin: 100px auto;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto;
  padding: 0 0 20px;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
}

.table{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  width: 1100px;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 20px 0 0;
  margin: 0;
}

.table__text_p2{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
}

.feynman {
  position: relative;
  min-height: 790px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.feynman__title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  margin: 0;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 1;
  margin: 0;
  padding-top: 70px;
}

.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color:#2f80ed;
}

.feynman__ilustration{
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
}

.kaufman{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  padding: 90px 0;
}

.section-title_theme_dark{
  color: white;
}

.section-subtitle_theme_dark{
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
} 

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
}

.footer{
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 350px;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
  box-sizing: border-box;
  color: white;
}

.logo_place_footer{
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
}

.footer__columns{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column{
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column-heading{
  padding: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.footer__author{
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links{
  padding: 0 0 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  list-style-type: none;
  text-align: left;
}

.footer__column-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__social-icon{
  padding-right: 10px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  width: 16px;
  height: 16px;
}